# General
.DS_Store
.AppleDouble
.LSOverride
.vscode/

### Django ###

*.log
*.pot
*.pyc
__pycache__/
static-root/
media-root/
config/
data/
secret.py
#db.sqlite3
#media

venv/
env/

### Celery ###
*.pid


# Icon must end with two \r
Icon

# Thumbnails
._*


# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# npm
node_modules/

